* {
    margin: 0px;
}

.container {
    background-color: #FFFFFF;
    width: 100vw;
    height: 90vh;
}

.header-container {
    background-color: #000000;
    width: 100%;
    height: 15vh;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header div:nth-child(1) {
    flex-grow: 1;
}

header div:nth-child(2) {
    flex-grow: 4;
}

header div:nth-child(3) {
    flex-grow: 1;
}

.social-media-icons {
    color: #FFC017;
    display: flex;
    justify-content: space-evenly;
    width: 50px;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #FFC017;
}

.input-search {
    display: flex;
    flex-direction: row;
    width: 30vw;
    height: 5vh;
    box-sizing: border-box;
    border: 3px solid #FFC017;
    border-radius: 5px;
}

.header-img {
    width: 10vw;
}

nav ul {
    list-style: none;
    background-color: #FFC017;
    text-align: center;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
}

nav li {
    width: 13%;
    border-right: 2px solid #000000;
    line-height: 40px;
    font-size: 100%;
    margin-right: 3px;
}

nav li:last-child {
    border-right: none;
}

nav li li {
    border-right: none;
}

nav a {
    text-decoration: none;
    color: #000000;
    display: block;
    padding-left: 15px;
    transition: .1s background-color;
    font-weight: bold;
}

nav a:hover {
    background-color: #000000;
    color: #FFC017;
    width: 100%;
}

nav a.active {
    background-color: #AAA;
    color: #444;
    cursor: default;
}

nav li li {
    font-size: .8em;
}

nav>ul>li {
    text-align: center;
}

nav>ul>li>a {
    padding-left: 0px;
}

nav li ul {
    position: absolute;
    display: none;
    width: inherit;
}

nav li:hover ul {
    display: block;
}

nav li ul li {
    display: block;
}

.home-section {
    width: 25%;
    display: inline-block;
    margin: 40px 0px 0px 90px;
    text-align: center;
}


.pic {
    width: 100%;
}

.figcaption {
    text-align: center;
}

/* .section-contact{
    background-color: #ffD017;
    box-sizing: border-box;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
} */

.form {
    background-color: #ffD017;
    box-sizing: border-box;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    margin: 0 auto;
    line-height: 2vh;

    /* position: relative;
    left: 75%;
    line-height: 45px; */

}

label {
    position: relative;
    left: -300px;
    margin: 0px;
    font-weight: bold;
    text-align: left;
}

/* input{
    position: relative;
    left: 30px;
    width: 50%;
    padding: 3px;
    border-radius: 5px;
    
} */
select {
    position: relative;
    left: 250px;
    width: 52%;
    padding: 3px;
    border-radius: 5px;

}

.textarea {
    position: relative;
    left: 70px;
    border-radius: 5px;
}

.button {
    position: relative;
    top: -10px;
    left: 177px;
    background-color: #FFFFFF;
    border: 0.3px solid black;
    padding: 5px 20px 5px 20px;
    font-weight: bold;
    border-radius: 5px;
}

.footer {
    position: relative;
    bottom: -30px;
    left: 600px;
}