*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #FFFFFF;
    margin: 0px auto;
    padding: 0px;
}

header{
    background-color: #000000;
    margin: 0px auto;
}
.header-img{
    /* display: inline-block; */
    width: 200px;
}

nav ul {
    list-style: none;
    background-color: #FFC017;
    text-align: center;
    padding: 0px;
    margin: 0px auto;
}

nav li {
    width: 13%;
    border-right: 1px solid #000000;
    height: 40px;
    line-height: 40px;
    font-size: 100%;
    display: inline-block;
    margin-right: 3px;
}

nav li:last-child {
    border-right: none;
}

nav li li {
    border-right: none;
}

nav a {
    text-decoration: none;
    color: #000000;
    display: block;
    padding-left: 15px;
    transition: .5s background-color;
    font-weight: bold;
}

nav a:hover {
    background-color: bisque;
}

nav a.active {
    background-color: #AAA;
    color: #444;
    cursor: default;
}

nav li li {
    font-size: .8em;
}

nav>ul>li {
    text-align: center;
}

nav>ul>li>a {
    padding-left: 0px;
}

nav li ul {
    position: absolute;
    display: none;
    width: inherit;
}

nav li:hover ul {
    display: block;
}

nav li ul li {
    display: block;
}
section{
    width: 25%;
    display: inline-block;
    margin: 40px 0px 0px 90px;
    text-align: center;
    
}


img.pic {
    width: 100%;
    box-sizing: border-box;
}

figcaption {
    text-align: center;
}


form{
    background-color: #ffD017;
    box-sizing: border-box;
    border: 0.5px solid coral;
    border-radius: 25px;
    width: 200%;
    position: relative;
    left: 75%;
    line-height: 45px;

}

label{
    position: relative;
    left: -300px;
    margin: 0px;
    font-weight: bold;
    text-align: left;
       
    

 }
input{
    position: relative;
    left: 30px;
    width: 50%;
    padding: 3px;
    border-radius: 5px;
    
}
select{
    position: relative;
    left: 250px;
    width: 52%;
    padding: 3px;
    border-radius: 5px;
    
}
.textarea{
    position: relative;
    left: 70px;
    border-radius: 5px;
} 
.button{
    position: relative;
    top: -10px;
    left: 177px;
    background-color: #FFFFFF;
    border: 0.3px solid black;
    padding: 5px 20px 5px 20px;
    font-weight: bold;
    border-radius: 5px;
}

.footer{
    position: relative;
    bottom: -30px;
    left: 600px;
}
